:root{
    --header-color: #141414;
    --font-color: #353535;
    --bg-color: #5346e9;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
    color: var(--header-color);
}
.full-hight{
    height: 90vh;
}